extends ../layouts/layout

block content

    =message

    .b-content-block
        .b-content-block__headline
            #{jadeMessage.getMessage('template.about_project.headline')}
        .b-content-block__content
            p
                #{jadeMessage.getMessage('template.about_project.content.first_string')}
            p
                #{jadeMessage.getMessage('template.about_project.content.second_string')}
            p
                #{jadeMessage.getMessage('template.about_project.content.third_string')}
                = ' '
                #{jadeMessage.getMessage('template.about_project.content.fourth_string')}
                = ' '
                #{jadeMessage.getMessage('template.about_project.content.fiveth_string')}
                = ' '
                #{jadeMessage.getMessage('template.about_project.content.sixth_string')}
                = ' '
                #{jadeMessage.getMessage('template.about_project.content.seventh_string')}
                = ' '
            p
                #{jadeMessage.getMessage('template.about_project.content.eighth_string')}
                = ' '
                a.link(href='http://7bits.ru/internship.html', target="_blank")= '7bits.'
