extends ../layouts/layout-admin

block append content

    form(action="/logout", method="post")
        input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
        input.exit-button(type='submit',value='Выход')

    .admin-form
        .admin-headline
            АДМИНИСТРАТОР
        form(action='/admin', method='post')
            for request in requests
                if request.hash
                    .checkbox-btn
                        input(id='btn#{request.id}', name='requestId', value='#{request.id}', type='checkbox')
                        label(for='btn'+request.id)=request.email
                else
                    =request.email
                    =request.hash


            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
            button.generate-link(type="submit") Сгенерировать ссылку
        .link
            a(href='#{generate}')= generate

