extends ../layouts/layout-admin

block append content

    form(action="/logout", method="post")
        input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
        input.exit-button(type='submit',value='Выход')

    .admin-form
        .admin-headline
            АДМИНИСТРАТОР
        .table-container
            table.admin-table
                tr
                    th.head-e-mail
                        | E-mail
                    th.head-link
                        | Ссылка для регистрации
                tr
                    td.col-email
                        | sakharnaya@vata.com
                    td.col-link
                        form(action='/admin', method='post', id='first-link')
                            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
                            button.generate-link(type="submit", form='first-link', value='то, что отправится на сервер')
                                | Сгенерировать ссылку
                        .link
                            a(href='#{generate}')= generate
                tr
                    td.col-email
                        | chockoladnyi@batonchick.com
                    td.col-link
                        form(action='/admin', method='post', id='second-link')
                            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
                            button.generate-link(type="submit", form='second-link', value='то, что отправится на сервер')
                                | Сгенерировать ссылку
                        .link
                            a(href='#{generate}')= generate

