extends ../layouts/layout-admin

block append content

    form(action="/logout", method="post")
        input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
        input.exit-button(type='submit',value='Выход')

    .admin-form
        .admin-headline
            АДМИНИСТРАТОР
        form(action='/admin', method='post')
            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
            button.generate-link(type="submit") Сгенерировать ссылку
        .link
            a(href='#{generate}')= generate