extends ../layouts/layout-admin

block append content

    form(action="/logout", method="post")
        input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
        input.exit-button(type='submit',value='Выход')

    .admin-form
        .admin-headline
            АДМИНИСТРАТОР
        .table-container
            table.admin-table
                tr
                    th.head-e-mail
                        | E-mail
                    th.head-link
                        | Ссылка для регистрации
                for request in requests
                    tr
                        td.col-email
                            = request.email
                        if request.hash
                            = request.hash
                        else
                            td.col-link
                                form(action='/admin', method='post', id='link#{request.id}')
                                    input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
                                    button.generate-link(type="submit", form='link#{request.id}', name='buttonId', value='request.id')
                                        | Сгенерировать ссылку
                                .link
                                    a(href='#{generate}')= generate
