extends ../layouts/layout-admin

block append content

    .admin-headline
        .tab.tab1
            | ЗАЯВКИ НА РЕГИСТРАЦИЮ
        .tab.tab2
            | СПИСОК ПОЛИГРАФИЙ
    .admin
        .content.for-tab1
            .table-container
                table.admin-table
                    tr
                        th.head.head-e-mail
                            | E-mail
                        th.head.head-link
                            | Ссылка для регистрации
                        th.head.head-link
                            | Действия
                    for request in requests
                        tr.row
                            td.col.col-email
                                = request.email
                            td.col.col-link
                                if request.hash
                                    a.take-link(href='#{request.link}', id='#{request.id}')= request.link
                                else
                                    .generate-link
                                        a.get-link(href='/admin/registration-link', id='#{request.id}')
                                            | Отправить приглашение
                                    .link
                                        a(href='#{generate}', id='#{request.id}')= generate
                            td.col.col-action
                                button.option.remove-bid(type='button', id='#{request.id}')
                                    | Удалить
        .content.for-tab2
            .table-container
                table.admin-table
                    tr
                        th.head
                            | Название
                        th.head
                            | E-mail
                        th.head
                            | Есть в поиске
                        th.head
                            | Действия

                    for polygraphy in polygraphies
                        tr.row
                            td.col.col-name
                                = polygraphy.name
                            td.col.col-mail
                                = polygraphy.email
                            td.col.col-search
                                if polygraphy.displayed
                                    input.checkbox(type='checkbox', id='#{polygraphy.id}', checked)
                                    label.label-for-checkbox(for='#{polygraphy.id}', data-name='#{polygraphy.name}')
                                else
                                    input.checkbox(type='checkbox', id='#{polygraphy.id}')
                                    label.label-for-checkbox(for='#{polygraphy.id}')
                            td.col.col-edit
                                .button-container
                                    button.option.edit(type='button', id='#{polygraphy.id}')
                                        a(href='/admin/polygraphy/#{polygraphy.id}/edit')
                                            | Редактировать
                                .button-container
                                    button.option.remove-from-search(type='button', id='#{polygraphy.id}')
                                        | Удалить
    .pop-up-overlay
        .pop-up-window
            .main-pop-up
                .question
                    | Вы уверены?
                    br
                    | Это действие уничтожит все данные об этой полиграфии.
                button.verification.yes(type='button')
                    | Подтвердить
                button.verification.no(type='button')
                    | Отмена