extends ../layouts/layout

block append head
    //link(rel="stylesheet", href="/stylesheets/partials/b-tabs.css")
    //link(rel="stylesheet", href="/stylesheets/partials/b-inside-tabs.css")
    //link(rel="stylesheet", href="/stylesheets/partials/b-popup-verification.css")
    link(rel="stylesheet", href="/stylesheets/partials/jquery.gritter.css")

block content

    =message

    .b-tabs
        .b-tabs__tab.b-tabs__js-active-tab(id='registration-bids')
            #{jadeMessage.getMessage('template.admin.tab.requests_on_registration')}
        .b-tabs__tab.b-tabs__js-inactive-tab(id='polygraphies-list')
            #{jadeMessage.getMessage('template.admin.tab.list_polygraphies')}
    .b-inside-tabs
        .b-inside-tabs__content.b-inside-tabs__js-inside-active-tab(id='inside-registration-bids')
            .b-inside-tabs__table-container
                table.b-inside-tabs__table
                    tr
                        th.b-inside-tabs__table-head
                            #{jadeMessage.getMessage('template.admin.tab.requests_on_registration.table_head.first_column')}
                        th.b-inside-tabs__table-head
                            #{jadeMessage.getMessage('template.admin.tab.requests_on_registration.table_head.second_column')}
                        th.b-inside-tabs__table-head
                            #{jadeMessage.getMessage('template.admin.tab.requests_on_registration.table_head.fird_column')}
                    for request in requests
                        tr.b-inside-tabs__table-row
                            td.b-inside-tabs__table-col
                                = request.email
                            td.b-inside-tabs__table-col
                                if request.hash
                                    a.b-inside-tabs__take-link(href='#{request.link}', id='#{request.id}')= request.link
                                else
                                    .b-inside-tabs__generate-link
                                        a.b-inside-tabs__get-link(href='/admin/registration-link', id='#{request.id}')
                                            #{jadeMessage.getMessage('template.admin.tab.requests_on_registration.button.send_invitation')}
                                    .b-inside-tabs__link
                                        a(href='#{generate}', id='#{request.id}')= generate
                            td.b-inside-tabs__table-col
                                button.b-inside-tabs__option.b-inside-tabs__js-remove-bid(type='button', id='#{request.id}')
                                    #{jadeMessage.getMessage('template.admin.tab.requests_on_registration.button.delete_request_on_registration')}
        .b-inside-tabs__content.b-inside-tabs__js-inside-inactive-tab(id='inside-polygraphies-list')
            .b-inside-tabs__table-container
                table.b-inside-tabs__table
                    tr
                        th.b-inside-tabs__table-head
                            #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.table_head.first_column')}
                        th.b-inside-tabs__table-head
                            #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.table_head.second_column')}
                        th.b-inside-tabs__table-head
                            #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.table_head.fird_column')}
                        th.b-inside-tabs__table-head
                            #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.table_head.fourth_column')}

                    for polygraphy in polygraphies
                        tr.b-inside-tabs__table-row
                            td.b-inside-tabs__table-col
                                = polygraphy.name
                            td.b-inside-tabs__table-col
                                = polygraphy.email
                            td.b-inside-tabs__table-col
                                if polygraphy.displayed
                                    - checked  = true
                                else
                                    -checked = false
                                input.b-inside-tabs__checkbox(type='checkbox', id='#{polygraphy.id}', checked=checked)
                                label.b-inside-tabs__label(for='#{polygraphy.id}', data-name='#{polygraphy.name}')
                            td.b-inside-tabs__table-col.b-inside-tabs_col-edit
                                .b-inside-tabs__button-container
                                    button.b-inside-tabs__option(type='button', id='#{polygraphy.id}')
                                        a(href='/admin/polygraphy/#{polygraphy.id}/edit')
                                            #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.button.edit_polygraphy')}
                                .b-inside-tabs__button-container
                                    button.b-inside-tabs__option.b-inside-tabs__js-remove-from-search(type='button', id='#{polygraphy.id}')
                                        #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.button.delete_polygraphy')}
    .b-popup-verification
        .b-popup-verification__window
            .b-popup-verification__main
                #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.popup.content.first_string')}
                br
                #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.popup.content.second_string')}
                button.b-popup-verification__answer.yes(type='button', answer='yes')
                    #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.popup.button.confirm')}
                button.b-popup-verification__answer.no(type='button', answer='no')
                    #{jadeMessage.getMessage('template.admin.tab.list_polygraphies.popup.button.cancel')}

block append javascript
    script(type='application/javascript', src='/vendor/scripts/jquery.gritter.min.js')
    script(type='application/javascript', src='/vendor/scripts/jquery.gritter.js')
    //script(type='application/javascript', src='/scripts/partials/admin.js')