extends ../layouts/layout

block append head
    script(type='text/javascript', src='/vendor/ckeditor/ckeditor.js')

block content

    =message

    .general-form
        .general-form-headline
            | РЕДАКТИРОВАНИЕ

        if security.isUserInRole('ROLE_ADMIN')
            - url = '/admin/polygraphy/' + editingForm.polygraphyId + '/update'
        if security.isUserInRole('ROLE_POLYGRAPHY')
            - url = '/admin-polygraphy/polygraphy/' + editingForm.polygraphyId + '/update'

        form(action=url)
            input.general-input__input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')

            if security.isUserInRole('ROLE_POLYGRAPHY')

                .general-form__input
                .general-input
                    label(for='name-input').general-input__label
                        | E-mail для регистрации *
                    input.general-input__input.js-normal-input(type='text',
                    id='email-input',
                    name = 'email',
                    value='#{editingForm.email}')
                    .general-input__for-error.js-none-display(id = 'email-for-error')
                    .general-input__invalid.js-none-display(id = 'email-error')

                .general-form__input
                .general-input
                    label(for='name-input').general-input__label
                        | Пароль *
                    input.general-input__input.js-normal-input(type='text',
                    id='password-input',
                    name = 'password')
                    .general-input__for-error.js-none-display(id = 'password-for-error')
                    .general-input__invalid.js-none-display(id = 'password-error')

            .general-form__input
            .general-input
                label(for='name-input').general-input__label
                    | Название полиграфии *
                input.general-input__input.js-normal-input(type='text',
                id='name-input',
                name = 'name',
                value='#{editingForm.name}')
                .general-input__for-error.js-none-display(id = 'name-for-error')
                .general-input__invalid.js-none-display(id = 'name-error')

            .general-form__input
            .general-input
                label(for='name-input').general-input__label
                    | Адрес *
                input.general-input__input.js-normal-input(type='text',
                id='address-input',
                name = 'address',
                value='#{editingForm.address}')
                .general-input__for-error.js-none-display(id = 'address-for-error')
                .general-input__invalid.js-none-display(id = 'address-error')

            .general-form__input
            .general-input
                label(for='name-input').general-input__label
                    | Телефон *
                input.general-input__input.js-normal-input(type='text',
                id='phone-input',
                name = 'phone',
                value='#{editingForm.phone}')
                .general-input__for-error.js-none-display(id = 'phone-for-error')
                .general-input__invalid.js-none-display(id = 'phone-error')

            .general-form__input
            .general-input
                label(for='name-input').general-input__label
                    | Публичный e-mail
                input.general-input__input.js-normal-input(type='text',
                id='email-public-input',
                name = 'publicEmail',
                value='#{editingForm.publicEmail}')
                .general-input__for-error.js-none-display(id='publicEmail-for-error')
                .general-input__invalid.js-none-display(id='publicEmail-error')

            .general-form__input
            .general-input
                label(for='name-input').general-input__label
                    | Сайт
                input.general-input__input.js-normal-input(type='text',
                id='website-input',
                name = 'website',
                value='#{editingForm.website}')
                .general-input__for-error.js-none-display(id = 'website-for-error')
                .general-input__invalid.js-none-display(id = 'website-error')

            .general-form__input
            .general-input
                label(for='name-input').general-input__label
                    | Описание
                textarea.general-input__input.js-normal-input.general-form_textarea-field(name='textArea',
                id='text-area-field')
                    != editingForm.info
                script.
                    CKEDITOR.replace('text-area-field')

                    
            .general-form__button
                - buttonType = 'button'
                button.general-submit(type=buttonType)
                    | Сохранить