header.header
    .header__logo-wrapper
        a(href='/')
            img(src ='/images/logo.png', alt=jadeMessage.getMessage('template.header.logo_wrapper'))
    .header__content
        .header__menu
            .header__menu-item.header_menu-item-full
                a(href='/info-for-polygraphy', id='info-for-polygraphy')
                    #{jadeMessage.getMessage('template.header.menu.info_for_polygraphy_item_full')}
            .header__menu-item.header_menu-item-mini
                a(href='/info-for-polygraphy', id='info-for-polygraphy')
                    #{jadeMessage.getMessage('template.header.menu.info_for_polygraphy_item_mini')}
            .header__menu-item
                a(href='/about-project')
                    #{jadeMessage.getMessage('template.header.menu.about_project')}
            if security.isUserInRole("ROLE_ADMIN") || security.isUserInRole('ROLE_POLYGRAPHY')
                .header__menu-item.header__menu-item_dropdown
                    #{jadeMessage.getMessage('template.header.menu.additionally')}
                    ul.header__dropdown-menu
                        li.header__dropdown-menu-item
                            if security.isUserInRole("ROLE_ADMIN")
                                - url = '/admin'
                            if security.isUserInRole('ROLE_POLYGRAPHY')
                                - url = '/admin-polygraphy/polygraphy/' + security.getUserId() + '/edit'
                            a(href=url)
                                #{jadeMessage.getMessage('template.header.menu.additionally.personal_account')}

                        li.header__dropdown-menu-item
                            a(href="/logout")
                                #{jadeMessage.getMessage('template.header.menu.additionally.output')}

        .header__slogan
            #{jadeMessage.getMessage('template.header.slogan.first_string')}
            br
            #{jadeMessage.getMessage('template.header.slogan.second_string')}

header.header.header_small-header
    .header__menu
        .header__menu-item
            a(href='/info-for-polygraphy', id='info-for-polygraphy')
                #{jadeMessage.getMessage('template.header_small.menu.info_for_polygraphy')}
        .header__menu-item
            a(href='/about-project')
                #{jadeMessage.getMessage('template.header_small.menu.about_project')}
        if security.isUserInRole("ROLE_ADMIN") || security.isUserInRole('ROLE_POLYGRAPHY')
            .header__menu-item.header__menu-item_dropdown
                #{jadeMessage.getMessage('template.header_small.menu.additionally')}
            ul.header__dropdown-menu
                li.header__dropdown-menu-item
                    if security.isUserInRole("ROLE_ADMIN")
                        - url = '/admin'
                    if security.isUserInRole('ROLE_POLYGRAPHY')
                        - url = '/admin-polygraphy/polygraphy/' + security.getUserId() + '/edit'
                    a(href=url)
                        #{jadeMessage.getMessage('template.header_small.menu.additionally.personal_account')}
                li.header__dropdown-menu-item
                    a(href="/logout")
                        #{jadeMessage.getMessage('template.header_small.menu.additionally.output')}

    .header__logo-wrapper
        a(href='/')
            img(src ='/images/logo.png', alt=jadeMessage.getMessage('template.header_small.logo_wrapper'), height='80px', width='142px')
    .header__slogan
        #{jadeMessage.getMessage('template.header_small.slogan')}