extends ../layout

block append content


    .header
        a(href='/')
            .logo
    .search
        form(method='post', action='/')
            .search-line
                input.search-field(name='query', type='text', placeholder='Поиск')
            .filter-field
                .radiobuttons
                    for service in services
                        .btn
                            input(id='btn#{service.id}', name='serviceId', value='#{service.id}', type='radio')
                            label(for='btn'+service.id)=service.name
                .selects
                    select.payment-method(name='paymentMethod')
                        option(selected='', disabled)Способ оплаты
                        option Наличный расчет
                        option Расчет по карте
                        option Оплата по счету
                .checkboxes
                    .check
                        input(id='check1',name='writesTheCheck', type='checkbox')
                        label(for='check1') выдает чек
                .selects
                    select.delivery-method(name='delivery')
                        option(selected='', disabled) Доставка
                        option самовывоз
                        option почта России
                        option с курьером
                .checkboxes
                    .check
                        input(id='check2',name='orderByEmail', type='checkbox')
                        label(for='check2') принимает заказ по e-mail
                button.submit(type='submit') НАЙТИ ПОЛИГРАФИЮ
    ul.results
        for polygraphy in polygraphies
            li
                .icon
                .info
                    h3= polygraphy.name
                    = polygraphy.addres
                    br
                    = polygraphy.phone
                .detail(id='polygraphy-page')
                    a(href='/polygraphy/#{polygraphy.id}')
                        |Подробнее
