extends ../layout

block append content


    .header
        a(href='/')
            .logo
    .search
        form(method='post', action='/')
            .search-line
                input.search-field(name='query', type='text', placeholder='Поиск')
            .filter-field
                .radiobuttons
                    for service in services
                        .btn
                            input(id='btn'+service.id, name='serviceId', value=service.id, form='btn', type='radio')
                            label(for='btn'+service.id)=service.name
                .selects
                    select.payment-method(name='paymentMethod')
                        option(selected='') Способ оплаты
                        option Наличный расчет
                        option Расчет по карте
                        option Оплата по счету
                .checkboxes
                    label#check.check
                        input#check(name='writesTheCheck', type='checkbox')
                        | выдает чек
                .selects
                    select.delivery-method(name='delivery')
                        option(selected='') Доставка
                        option самовывоз
                        option почта России
                        option с курьером
                .checkboxes
                    label#check.check
                        input#check(name='orderByEmail', type='checkbox')
                        | принимает заказ по e-mail
                button(type='submit') Найти
    ul.results
        for polygraphy in polygraphies
            li
                .icon
                .info
                    h3= polygraphy.name
                    h5= polygraphy.addres
                    h5= polygraphy.phone
                .detail(id='polygraphy-page')
                    a(href='/polygraphy/#{polygraphy.id}')
                        |Подробнее..
