extends ../layouts/layout

block append head
    link(rel="stylesheet", href="/stylesheets/b-search.css")
    link(rel="stylesheet", href="/stylesheets/b-search-line.css")
    link(rel="stylesheet", href="/stylesheets/b-often-seek.css")
    link(rel="stylesheet", href="/stylesheets/b-extend-search.css")
    link(rel="stylesheet", href="/stylesheets/b-dropdown.css")
    link(rel="stylesheet", href="/stylesheets/b-checkboxes.css")
    link(rel="stylesheet", href="/stylesheets/b-results.css")
    link(rel="stylesheet", href="/stylesheets/b-results-item.css")
    link(rel="stylesheet", href="/stylesheets/b-popup-window.css")
    link(rel="stylesheet", href="/stylesheets/icons.css")

block content

    .b-search

        form(id='search-form', method='post', action='/search')
            .b-search-line
                if form != null
                    if form.query != ""
                        input.b-search-line__input(name='query',
                                                type='text',
                                                value='#{form.query}')
                    else
                        input.b-search-line__input(name='query',
                                                type='text',
                                                placeholder='Что искать?')
                else
                    input.b-search-line__input(name='query',
                                            type='text',
                                            placeholder='Что искать?')
                .b-search-line__submit
                    button(type='button') НАЙТИ ПОЛИГРАФИЮ

            .b-often-seek
                | Часто ищут:
                for service in services
                    .b-often-seek__checkbox
                        - checked = form.services.contains(service.id)
                        input.b-often-seek__input(id='btn#{service.id}',
                                        name='services',
                                        value='#{service.id}',
                                        type='checkbox',
                                        checked=checked)
                        label(for='btn'+service.id)=service.name
            .b-search__wrapper
                .b-extend-search
                    .b-extend-search__title
                        | РАСШИРЕННЫЙ ПОИСК
                    .b-extend-search__label
                        | Способ оплаты
                    .b-dropdown
                        .b-dropdown__placeholder(id='paymentMethod')
                        .b-dropdown__list(id='paymentMethod-list')
                            .b-dropdown__list-item
                                input.b-dropdown__input(id='paymentMethod-item-0',
                                                        name='paymentMethod',
                                                        type='radio',
                                                        value=0,
                                                        checked)
                                label(for='paymentMethod-item-0') Любой
                            for _paymentMethod in paymentMethods
                                if _paymentMethod.id == form.paymentMethod
                                    - pm_checked = true
                                else
                                    - pm_checked = false
                                .b-dropdown__list-item
                                    input.b-dropdown__input(id='paymentMethod-item-#{_paymentMethod.id}',
                                                            name='paymentMethod',
                                                            type='radio',
                                                            value='#{_paymentMethod.id}',
                                                            checked=pm_checked)
                                    label(for='paymentMethod-item-'+_paymentMethod.id)= _paymentMethod.name

                    .b-checkboxes
                        .b-checkboxes__checkbox
                            if form.writesTheCheck == true
                                - wtc_checked = true
                            else
                                - wtc_checked = false
                            input.js-write-the-check.b-checkboxes__input(id='check1',
                                                                        name='writesTheCheck',
                                                                        type='checkbox',
                                                                        checked=wtc_checked)
                            label(for='check1') Выдает чек

                    .b-extend-search__label
                        | Способ доставки
                    .b-dropdown
                        .b-dropdown__placeholder(id='deliveryMethod')
                        .b-dropdown__list(id='deliveryMethod-list')
                            .b-dropdown__list-item
                                input.b-dropdown__input(id='deliveryMethod-item-0',
                                                        name='deliveryMethod',
                                                        type='radio',
                                                        value=0,
                                                        checked)
                                label(for='deliveryMethod-item-0') Любой
                            for _deliveryMethod in deliveryMethods
                                if _deliveryMethod.id == form.deliveryMethod
                                    - dm_checked = true
                                else
                                    - dm_checked = false
                                .b-dropdown__list-item
                                    input.b-dropdown__input(id='deliveryMethod-item-#{_deliveryMethod.id}',
                                                            name='deliveryMethod',
                                                            type='radio',
                                                            value='#{_deliveryMethod.id}',
                                                            checked=dm_checked)
                                    label(for='deliveryMethod-item-'+_deliveryMethod.id)= _deliveryMethod.name

                    .b-checkboxes
                        .b-checkboxes__checkbox
                            if form.orderByEmail == true
                                - obe_checked = true
                            else
                                - obe_checked = false
                            input.js-order-by-email.b-checkboxes__input(id='check2',
                                                            name='orderByEmail',
                                                            type='checkbox',
                                                            checked=obe_checked)
                            label(for='check2') Принимает заказ по e-mail

                .b-search__polygraphies-list
                script(id='results', type='text/x-handlebars-template')
                    .b-results
                        ul.b-results__list
                            | {{#each polygraphies}}
                            li.b-results-item
                                table.b-results-item__table-services
                                    tr
                                        td.small-bunner
                                        td.small-t-shirt
                                        td.small-cup
                                    tr
                                        td.small-note
                                        td.small-badge
                                        td.small-magnit
                                    tr
                                        td.small-sticker
                                        td.small-card
                                        td.small-calendar
                                .b-results-item__summary
                                    .b-results-item__name(id='{{id}}') {{name}}
                                    .b-results-item__adaptive-name(id='{{id}}') {{name}}
                                    .b-results-item__address {{address}}
                                    .b-results-item__phone {{phone}}
                                .b-results-item__detail(id='polygraphy-page')
                                    a(href='/polygraphy/{{id}}', id='{{id}}')
                                        |Подробнее
                                button.b-results-item__adaptive-detail-info(type='button', id='{{id}}')
                                    |Подробнее
                            | {{/each}}
    .b-search__button-up
    .b-search__overlay
        .b-popup-window
        script(id='pop-up-window-detail', type='text/x-handlebars-template')
            .b-popup-window__main
                .b-popup-window__close
                .b-popup-window__info
                    .b-popup-window__summary
                        .b-popup-window__name {{name}}
                        table.b-popup-window__services
                            tr
                                td.sticker
                                td.A4
                                td.calendar
                                td.magnit
                            tr
                                td.cup
                                td.A1
                                td.bunner
                                td.A2
                        .b-popup-window__address {{address}}
                        .b-popup-window__phone {{phone}}
                        .b-popup-window__email {{email}}
                        .b-popup-window__site
                            a(href='{{website}}', target="_blank") {{website}}
                    .b-popup-window__details
                        .b-popup-window__title
                            | О ПОЛИГРАФИИ
                        .b-popup-window__about {{{info}}}
                .b-popup-window__helper
    .b-search__js-loader

block append javascript
    script(type='application/javascript', src='/vendor/scripts/handlebars-v3.0.3.js')
    //script(type='application/javascript', src='/scripts/partials/app.js')