extends ../layout

block append content

    .header
        a(href='/')
            .logo
    .search
        form(method='get', action='/search')
            .search-line
                if form != null
                    if form.query != ""
                        input.search-field(name='query', type='text', value='#{form.query}')
                    else
                        input.search-field(name='query', type='text', placeholder='Поиск')
                else
                    input.search-field(name='query', type='text', placeholder='Поиск')
            .filter-field
                .radiobuttons
                    for service in services
                        .btn
                            if service.id == form.serviceId
                                input(id='btn#{service.id}', name='serviceId', value='#{service.id}', type='radio', checked)
                                label(for='btn'+service.id)=service.name
                            else
                                input(id='btn#{service.id}', name='serviceId', value='#{service.id}', type='radio')
                                label(for='btn'+service.id)=service.name
                .selects
                    select.payment-method(name='paymentMethod')
                        option(selected='', disabled) Способ оплаты
                        for _paymentMethod in paymentMethods
                            if _paymentMethod.id == form.paymentMethod
                                option(value='#{_paymentMethod.id}', selected=true)=_paymentMethod.name
                            else
                                option(value='#{_paymentMethod.id}')=_paymentMethod.name
                .checkboxes
                    .check
                        if form.writesTheCheck == true
                            input(id='check1', name='writesTheCheck', type='checkbox', checked)
                            label(for='check1') выдает чек
                        else
                            input(id='check1', name='writesTheCheck', type='checkbox')
                            label(for='check1') выдает чек
                .selects
                    select.delivery-method(name='deliveryMethod')
                        option(selected='', disabled) Доставка
                        for _deliveryMethod in deliveryMethods
                            if _deliveryMethod.id == form.deliveryMethod
                                option(value='#{_deliveryMethod.id}', selected=true)=_deliveryMethod.name
                            else
                                option(value='#{_deliveryMethod.id}')=_deliveryMethod.name
                .checkboxes
                    .check
                        if form.orderByEmail == true
                            input(id='check2',name='orderByEmail', type='checkbox', checked)
                            label(for='check2') принимает заказ по e-mail
                        else
                            input(id='check2',name='orderByEmail', type='checkbox')
                            label(for='check2') принимает заказ по e-mail

                button.submit(type='submit') НАЙТИ ПОЛИГРАФИЮ
    ul.results
        =polygraphyiesIsNull

        for polygraphy in polygraphies
            li
                .icon
                .info
                    h3= polygraphy.name
                    = polygraphy.addres
                    br
                    = polygraphy.phone
                .detail(id='polygraphy-page')
                    a(href='/polygraphy/#{polygraphy.id}')
                        |Подробнее