extends ../layouts/layout-index

block append content

    .search

        form(id='form', method='post', action='/search')
            .search-line
                if form != null
                    if form.query != ""
                        input.search-field(name='query', type='text', value='#{form.query}')
                    else
                        input.search-field(name='query', type='text', placeholder='Что искать?')
                else
                    input.search-field(name='query', type='text', placeholder='Что искать?')
                .submit
                    button(type='button') НАЙТИ ПОЛИГРАФИЮ

            .checkboxes
                | Часто ищут:
                for service in services
                    .checkbox-btn
                        if form.services.contains(service.id)
                            input.often-seek(id='btn#{service.id}', name='services', value='#{service.id}', type='checkbox', checked)
                            label(for='btn'+service.id)=service.name
                        else
                            input.often-seek(id='btn#{service.id}', name='services', value='#{service.id}', type='checkbox')
                            label(for='btn'+service.id)=service.name
            .wrapper
                .extended-search
                    .extended-search-title
                        | РАСШИРЕННЫЙ ПОИСК
                    .payment-method-headline
                        | Способ оплаты
                    .payment-method
                        .payment-placeholder
                        .payment-method-items
                            .item
                                input.item-selection-payment(id='item10', name='paymentMethod', type='radio', value=0, checked)
                                label(for='item10') Любой
                            for _paymentMethod in paymentMethods
                                if _paymentMethod.id == form.paymentMethod
                                    .item
                                        input.item-selection-payment(id='item1#{_paymentMethod.id}', name='paymentMethod', type='radio', value='#{_paymentMethod.id}', checked=true)
                                        label(for='item1'+_paymentMethod.id)= _paymentMethod.name
                                else
                                    .item
                                        input.item-selection-payment(id='item1#{_paymentMethod.id}', name='paymentMethod', type='radio', value='#{_paymentMethod.id}')
                                        label(for='item1'+_paymentMethod.id)= _paymentMethod.name

                    .checkboxes-in-search-field
                        .check
                            if form.writesTheCheck == true
                                input.js-write-the-check.checkbox(id='check1', name='writesTheCheck', type='checkbox', checked)
                                label(for='check1') Выдает чек
                            else
                                input.js-write-the-check.checkbox(id='check1', name='writesTheCheck', type='checkbox')
                                label(for='check1') Выдает чек

                    .delivery-method-headline
                        | Способ доставки
                    .delivery-method
                        .delivery-placeholder
                        .delivery-method-items
                            .item
                                input.item-selection-delivery(id='item20', name='deliveryMethod', type='radio', value=0, checked)
                                label(for='item20') Любой
                            for _deliveryMethod in deliveryMethods
                                if _deliveryMethod.id == form.deliveryMethod
                                    .item
                                        input.item-selection-delivery(id='item2#{_deliveryMethod.id}', name='deliveryMethod', type='radio', value='#{_deliveryMethod.id}', checked=true)
                                        label(for='item2'+_deliveryMethod.id)= _deliveryMethod.name
                                else
                                    .item
                                        input.item-selection-delivery(id='item2#{_deliveryMethod.id}', name='deliveryMethod', type='radio', value='#{_deliveryMethod.id}')
                                        label(for='item2'+_deliveryMethod.id)= _deliveryMethod.name

                    .checkboxes-in-search-field
                        .check
                            if form.orderByEmail == true
                                input.js-order-by-email.checkbox(id='check2',name='orderByEmail', type='checkbox', checked)
                                label(for='check2') Принимает заказ по e-mail
                            else
                                input.js-order-by-email.checkbox(id='check2',name='orderByEmail', type='checkbox')
                                label(for='check2') Принимает заказ по e-mail

                .help
                    #polygraphies-list
                        .results-field
                            ul.results
                                if results.polygraphiesListIsNull!=''
                                    p.no-results= results.polygraphiesListIsNull
                                for polygraphy in results.polygraphies
                                    li
                                        table.services
                                            tr
                                                td.small-bunner
                                                td.small-t-shirt
                                                td.small-cup
                                            tr
                                                td.small-note
                                                td.small-badge
                                                td.small-magnit
                                            tr
                                                td.small-sticker
                                                td.small-card
                                                td.small-calendar
                                        .info
                                            .polygraphy-name(id='#{polygraphy.id}')= polygraphy.name
                                            .adaptive-polygraphy-name(id='#{polygraphy.id}')= polygraphy.name
                                            .polygraphy-address= polygraphy.address
                                            .polygraphy-phone-number= polygraphy.phone
                                        .detail(id='polygraphy-page')
                                            a(href='/polygraphy/#{polygraphy.id}', id='#{polygraphy.id}')
                                                |Подробнее
                                        button.small-detail(type='button', id='#{polygraphy.id}')
                                            |Подробнее

                    script(id='results', type='text/x-handlebars-template')
                        .results-field
                            ul.results
                                | {{#if polygraphiesListIsNull}}
                                p.no-results {{polygraphiesListIsNull}}
                                | {{/if}}
                                | {{#each polygraphies}}
                                li
                                    table.services
                                        tr
                                            td.small-bunner
                                            td.small-t-shirt
                                            td.small-cup
                                        tr
                                            td.small-note
                                            td.small-badge
                                            td.small-magnit
                                        tr
                                            td.small-sticker
                                            td.small-card
                                            td.small-calendar
                                    .info
                                        .polygraphy-name(id='{{id}}') {{name}}
                                        .adaptive-polygraphy-name(id='{{id}}') {{name}}
                                        .polygraphy-address {{address}}
                                        .polygraphy-phone-number {{phone}}
                                    .detail(id='polygraphy-page')
                                        a(href='/polygraphy/{{id}}', id='{{id}}')
                                            |Подробнее
                                    button.small-detail(type='button', id='{{id}}')
                                        |Подробнее
                                | {{/each}}
    .up
    .pop-up-overlay
        .pop-up-window
        script(id='pop-up-window-detail', type='text/x-handlebars-template')
            .main-pop-up
                .close
                .info-pop-up
                    .summary-pop-up
                        .polygraphy-name-pop-up {{name}}
                        table.services-pop-up
                            tr
                                td.sticker
                                td.A4
                                td.calendar
                                td.magnit
                            tr
                                td.cup
                                td.A1
                                td.bunner
                                td.A2
                        .address-pop-up {{address}}
                        .phone-pop-up {{phone}}
                        .email-pop-up {{email}}
                        .site-pop-up
                            a(href='{{website}}', target="_blank") {{website}}
                    .details-pop-up
                        .about-title-pop-up
                            | О ПОЛИГРАФИИ
                        .about-text-pop-up {{info}}
                .helper-pop-up
    .js-overlay