extends ../layout

block append content

    header.header
        .logo-box
            a(href='/')
                .logo
        .more-info
            .info-for-polygraphy
                Информация для полиграфий
            .about-project
                О проекте
        .slogan
            Не знаете, где сделать принт на футболку? Или напечатать быстро 1000 визиток?
            br
            Мы найдем полиграфии для ваших задач!
    .search
        form(id='form', method='post', action='/search')
            .search-line
                if form != null
                    if form.query != ""
                        input.search-field(name='query', type='text', value='#{form.query}')
                    else
                        input.search-field(name='query', type='text', placeholder='Что искать?')
                else
                    input.search-field(name='query', type='text', placeholder='Что искать?')
                .submit
                    button(type='submit') НАЙТИ ПОЛИГРАФИЮ
            .radiobuttons
                Часто ищут:
                for service in services
                    .btn
                        if service.id == form.serviceId
                            input(id='btn#{service.id}', name='serviceId', value='#{service.id}', type='radio', checked)
                            label(for='btn'+service.id)=service.name
                        else
                            input(id='btn#{service.id}', name='serviceId', value='#{service.id}', type='radio')
                            label(for='btn'+service.id)=service.name
            .extended-search
                .extended-search-title
                    РАСШИРЕННЫЙ ПОИСК
                select.payment-method(name='paymentMethod')
                    option.disabled(selected='', value=0) Способ оплаты
                    for _paymentMethod in paymentMethods
                        if _paymentMethod.id == form.paymentMethod
                            option(value='#{_paymentMethod.id}', selected=true)=_paymentMethod.name
                        else
                            option(value='#{_paymentMethod.id}')=_paymentMethod.name
                .checkboxes
                    .check
                        if form.writesTheCheck == true
                            input(id='check1', name='writesTheCheck', type='checkbox', checked)
                            label(for='check1') Выдает чек
                        else
                            input(id='check1', name='writesTheCheck', type='checkbox')
                            label(for='check1') Выдает чек
                select.delivery-method(name='deliveryMethod')
                    option.disabled(selected='', value=0) Доставка
                    for _deliveryMethod in deliveryMethods
                        if _deliveryMethod.id == form.deliveryMethod
                            option(value='#{_deliveryMethod.id}', selected=true)=_deliveryMethod.name
                        else
                            option(value='#{_deliveryMethod.id}')=_deliveryMethod.name
                .checkboxes
                    .check
                        if form.orderByEmail == true
                            input(id='check2',name='orderByEmail', type='checkbox', checked)
                            label(for='check2') Принимает заказ по e-mail
                        else
                            input(id='check2',name='orderByEmail', type='checkbox')
                            label(for='check2') Принимает заказ по e-mail
                button.extend-submit(type='submit') Показать

    #polygraphiesList
        .results-field
            ul.results
                if results.polygraphiesListIsNull!=''
                    p.no-results= results.polygraphiesListIsNull
                for polygraphy in results.polygraphies
                    li
                        table.services
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                        .info
                            .polygraphy-name
                                a(href='/polygraphy/#{polygraphy.id}')
                                    = polygraphy.name
                            .polygraphy-address= polygraphy.addres
                            .polygraphy-phone-number= polygraphy.phone
                        .detail(id='polygraphy-page')
                            a(href='/polygraphy/#{polygraphy.id}')
                                |Подробнее

    script(id='results', type='text/x-handlebars-template')
        .results-field
            ul.results
                | {{#if polygraphiesListIsNull}}
                p.no-results {{polygraphiesListIsNull}}
                | {{/if}}
                | {{#each polygraphies}}
                li
                    table.services
                        tr
                            td
                            td
                            td
                        tr
                            td
                            td
                            td
                        tr
                            td
                            td
                            td
                    .info
                        .polygraphy-name {{name}}
                        .polygraphy-address {{addres}}
                        .polygraphy-phone-number{{phone}}
                    .detail(id='polygraphy-page')
                        a(href='/polygraphy/{{id}}')
                            |Подробнее
                | {{/each}}