extends ../layout

block append content

    .header
        a(href='/')
            .logo
    .search
        form(id='form', method='post', action='/search')
            .search-line
                if form != null
                    if form.query != ""
                        input.search-field(name='query', type='text', value='#{form.query}')
                    else
                        input.search-field(name='query', type='text', placeholder='Поиск')
                else
                    input.search-field(name='query', type='text', placeholder='Поиск')
            .filter-field
                .radiobuttons
                    for service in services
                        .btn
                            if service.id == form.serviceId
                                input(id='btn#{service.id}', name='serviceId', value='#{service.id}', type='radio', checked)
                                label(for='btn'+service.id)=service.name
                            else
                                input(id='btn#{service.id}', name='serviceId', value='#{service.id}', type='radio')
                                label(for='btn'+service.id)=service.name
                select.payment-method(name='paymentMethod')
                    option.disabled(selected='', value=0) Способ оплаты
                    for _paymentMethod in paymentMethods
                        if _paymentMethod.id == form.paymentMethod
                            option(value='#{_paymentMethod.id}', selected=true)=_paymentMethod.name
                        else
                            option(value='#{_paymentMethod.id}')=_paymentMethod.name
                .checkboxes
                    .check
                        if form.writesTheCheck == true
                            input(id='check1', name='writesTheCheck', type='checkbox', checked)
                            label(for='check1') выдает чек
                        else
                            input(id='check1', name='writesTheCheck', type='checkbox')
                            label(for='check1') выдает чек
                select.delivery-method(name='deliveryMethod')
                    option.disabled(selected='', value=0) Доставка
                    for _deliveryMethod in deliveryMethods
                        if _deliveryMethod.id == form.deliveryMethod
                            option(value='#{_deliveryMethod.id}', selected=true)=_deliveryMethod.name
                        else
                            option(value='#{_deliveryMethod.id}')=_deliveryMethod.name
                .checkboxes
                    .check
                        if form.orderByEmail == true
                            input(id='check2',name='orderByEmail', type='checkbox', checked)
                            label(for='check2') принимает заказ по e-mail
                        else
                            input(id='check2',name='orderByEmail', type='checkbox')
                            label(for='check2') принимает заказ по e-mail
                button.submit(type='submit') НАЙТИ ПОЛИГРАФИЮ
    .hide-show-search
        Показать/скрыть поиск

    #polygraphiesList
        ul.results
            li.top-line РЕЗУЛЬТАТЫ ПОИСКА
            if results.polygraphiesListIsNull!=''
                p.no-results= results.polygraphiesListIsNull
            for polygraphy in results.polygraphies
                li
                    .icon
                    .info
                        h3= polygraphy.name
                        = polygraphy.addres
                        br
                        = polygraphy.phone
                    .detail(id='polygraphy-page')
                        a(href='/polygraphy/#{polygraphy.id}')
                            |Подробнее
            li.bottom-line

    script(id='results', type='text/x-handlebars-template')
        ul.results
            li.top-line РЕЗУЛЬТАТЫ ПОИСКА
            | {{#if polygraphiesListIsNull}}
            p.no-results {{polygraphiesListIsNull}}
            | {{/if}}
            | {{#each polygraphies}}
            li
                .icon
                .info
                    h3 {{name}}
                    {{addres}}
                    br
                    {{phone}}
                .detail(id='polygraphy-page')
                    a(href='/polygraphy/{{id}}')
                        |Подробнее
            | {{/each}}
            li.bottom-line
