extends ../layouts/layout

block append head
    //link(rel="stylesheet", href="/stylesheets/partials/general-form.css")
    //link(rel="stylesheet", href="/stylesheets/partials/general-form-headline.css")
    //link(rel="stylesheet", href="/stylesheets/partials/general-input.css")
    //link(rel="stylesheet", href="/stylesheets/partials/general-submit.css")

block content

    =message

    .general-form.general-form_bid-form

        .general-form__explanatory-text
            = 'Если Вы хотите, чтобы Ваша полиграфия появилась в поиске, оставьте нам свой e-mail, мы свяжемся с Вами в ближайшее время.'

        form(id='request-form')
            input.general-input__input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')

            .general-form__input.general-form_inline-input
                .general-input
                    input.general-input__input.js-normal-input(type='text', name='email')
                    .general-input__for-error.js-none-display(id='email-for-error')
                    .general-input__invalid.js-none-display(id='email-error')

            .general-form__button.general-form_inline-button
                - buttonType = 'button'
                button.general-submit(type=buttonType,
                                    id='submit-email',
                                    form='request-form')
                    | Отправить

        if security.isUserInRole("ROLE_ANONYMOUS")
            .general-form__explanatory-text
                |Если Ваша полиграфия уже есть в нашем поиске, можете

            - href = '/login'
            .general-form__button
                a.general-submit(href=href, id='button-on-login-page')
                    | Войти

block append javascript
    //script(type='application/javascript', src='/scripts/partials/info-for-polygraphy.js')
    //script(type='application/javascript', src='/scripts/partials/display-errors.js')
