extends ../layouts/layout-page-about-polygraphy

block append content

    .comeback-button-container
        a.comeback(href='/')
            | Вернуться к поиску
    main
        .info
            .summary
                .polygraphy-name
                    = polygraphy.name
                table.services
                    tr
                        td.sticker
                        td.A4
                        td.calendar
                        td.magnit
                    tr
                        td.cup
                        td.A1
                        td.bunner
                        td.A2
                table.adaptive-services
                    tr
                        td.bunner
                        td.A1
                        td.cup
                    tr
                        td.A3
                        td.A2
                        td.magnit
                    tr
                        td.sticker
                        td.A4
                        td.calendar
                .address= polygraphy.address
                .phone= polygraphy.phone
                .email= polygraphy.email
                .site
                    a(href='#{polygraphy.website}', target="_blank")= polygraphy.website
            if(polygraphy.info != '')
                .details
                    .about-title
                        | О ПОЛИГРАФИИ
                    .about-text= polygraphy.info
        .helper