extends ../layout-page

block append content


    .header
        a(href='/')
            .logo
    .comeback
        a(href='/')
            |Вернуться к поиску
    .polygraphy-name
        h1= polygraphy.name
    .info
        .polygraphy-logo
        .short-info
            p= polygraphy.addres
            p= polygraphy.phone
            p= polygraphy.email
            a(href='#{polygraphy.website}')= polygraphy.website