extends ../layout

block append content

  form(method='post', action='/registration-link?id=#{hash}')
    input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
    input(type='hidden', name='hash', value='#{hash}')
    .form-group
      label(for='email-input') Email
      input#email-input.form-control(name='email', placeholder='Our email', type='text')
    .form-group
      label(for='password-input') Password
      input#password-input.form-control(name='password', placeholder='Our password', type='password')
    p
    .form-group
      label(for='name-input') Name
      input#name-input.form-control(name='name', placeholder='Name polygraphy', type='text')
    .form-group
      label(for='address-input') Address
      input#address-input.form-control(name='address', placeholder='Address polygraphy', type='text')
    .form-group
      label(for='phone-input') Phone
      input#phone-input.form-control(name='phone', placeholder='Phone polygraphy', type='text')
    .form-group
      label(for='email-public-input') Public email
      input#email-public-input.form-control(name='emailPublic', placeholder='Our public email', type='text')
    p
      .checkboxes
        .check
          input(id='orderByEmail',name='orderByEmail', type='checkbox')
          label(for='orderByEmail') принимает заказ по e-mail

    .form-group
      label(for='website-input') URL website
      input#website-input.form-control(name='website', placeholder='URL site polygraphy', type='text')

    .checkboxes
    p Принимаем оплату
      for paymentMethod in paymentMethods
        .check
          input(id='payment#{paymentMethod.id}',name='paymentMethods', value='#{paymentMethod.id}', type='checkbox')
          label(for='payment'+paymentMethod.id)=paymentMethod.name
    p
      .check
        input(id='writesTheCheck',name='writesTheCheck', type='checkbox')
        label(for='writesTheCheck') выдаем чек

    p Доставка готового заказа
      for deliveryMethod in deliveryMethods
        .check
          input(id='delivery#{deliveryMethod.id}',name='deliveryMethods', value='#{deliveryMethod.id}', type='checkbox')
          label(for='delivery'+deliveryMethod.id)=deliveryMethod.name

    p Предоставляемы услуги
          for service in services
            .check
              input(id='btn#{service.id}', name='services', value='#{service.id}', type='checkbox')
              label(for='btn'+service.id)=service.name
    button.btn.btn-success(type="submit") Registration

  p
    = registration.email
    = registration.password

