extends ../layouts/layout-registration

block append content

    header.header
        .logo-box
            a(href='/')
                .logo
        .more-info
            .info-for-polygraphy
                Информация для полиграфий
            .about-project
                О проекте
        .slogan
            Не знаете, где сделать принт на футболку? Или напечатать быстро 1000 визиток?
            br
            Мы найдем полиграфии для ваших задач!

    .registration-form
        .registration-form-headline
            РЕГИСТРАЦИЯ ПОЛИГРАФИИ
        form(id='registration-form', method='post', action='/registration-link?id=#{hash}')
            fieldset
                input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
                input(type='hidden', name='hash', value='#{hash}')
                .text-fields
                    .field-email
                        |E-mail для регистрации
                        input.form-control#email-input(name='email', type='text')
                    .field-password
                        |Пароль
                        input.form-control#password-input(name='password', type='password')
                    .field-name
                        | Название полиграфии
                        input.form-control#name-input(name='name', type='text')
                    .field-address
                        | Адрес
                        input.form-control#address-input(name='address', type='text')
                    .field-phone
                        | Телефон
                        input.form-control#phone-input(name='phone', type='text')
                    .field-public-email
                        | Публичный e-mail
                        input.form-control#email-public-input(name='emailPublic', type='text')
                    .field-site
                        | Сайт
                        input.form-control#website-input(name='website', type='text')
            fieldset
                .field-checkboxes
                    .field-order-by-email.field-checkbox
                        input.checkbox(id='orderByEmail', name='orderByEmail', type='checkbox')
                        label(for='orderByEmail') Принимаем заказы по e-mail
                    .field-payment
                        | Принимаем оплату:
                        for paymentMethod in paymentMethods
                            .field-checkbox
                                input.checkbox(id='payment#{paymentMethod.id}', name='paymentMethods', value='#{paymentMethod.id}', type='checkbox')
                                label(for='payment'+paymentMethod.id)=paymentMethod.name
                    .field-delivery
                        | Доставка готового заказа:
                        for deliveryMethod in deliveryMethods
                            .field-checkbox
                                input.checkbox(id='delivery#{deliveryMethod.id}', name='deliveryMethods', value='#{deliveryMethod.id}', type='checkbox')
                                label(for='delivery'+deliveryMethod.id)=deliveryMethod.name
                    .field-services
                        | Предоставляемые услуги:
                        for service in services
                            .field-checkbox
                                input.checkbox(id='btn#{service.id}', name='services', value='#{service.id}', type='checkbox')
                                label(for='btn'+service.id)=service.name
                button.submit-registration-form(type="submit", id="submit-registration-form") Сохранить данные