extends ../layouts/layout

block append head
    link(rel='stylesheet', href='/stylesheets/registration.css')
    script(type='application/javascript', src='/scripts/step-by-step-registration.js')
    script(type='application/javascript', src='/scripts/registration.js')
    script(type='application/javascript', src='/scripts/display-errors.js')
    script(type='text/javascript', src='/vendor/ckeditor/ckeditor.js')

block content

    .b-registration(id='big-form')
        .b-registration__headline
            | РЕГИСТРАЦИЯ ПОЛИГРАФИИ
        form(id='registration-form')
            fieldset
                input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
                input.b-registration__input#hash(type='hidden', name='hash', value='#{hash}')
                .b-registration__text-fields
                    .b-registration__text-input-wrapper
                        label.b-registration__input-label
                            |E-mail для регистрации *
                        input.b-registration__input#email-input(name='email', type='text')
                        .b-registration__for-error(id = 'email-for-error')
                        .b-registration__invalid(id = 'email-error')
                    .b-registration__text-input-wrapper
                        label.b-registration__input-label
                            |Пароль *
                        input.b-registration__input#password-input(name='password', type='password')
                        .b-registration__for-error(id = 'password-for-error')
                        .b-registration__invalid(id='password-error')
                    .b-registration__text-input-wrapper
                        label.b-registration__input-label
                            | Название полиграфии *
                        input.b-registration__input#name-input(name='name', type='text')
                        .b-registration__for-error(id='name-for-error')
                        .b-registration__invalid(id='name-error')
                    .b-registration__text-input-wrapper
                        label.b-registration__input-label
                            | Адрес *
                        input.b-registration__input#address-input(name='address', type='text')
                        .b-registration__for-error(id='address-for-error')
                        .b-registration__invalid(id='address-error')
                    .b-registration__text-input-wrapper
                        label.b-registration__input-label
                            | Телефон *
                        input.b-registration__input#phone-input(name='phone', type='text')
                        .b-registration__for-error(id='phone-for-error')
                        .b-registration__invalid(id='phone-error')
                    .b-registration__text-input-wrapper
                        label.b-registration__input-label
                            | Публичный e-mail
                        input.b-registration__input#email-public-input(name='publicEmail', type='text')
                        .b-registration__for-error(id='publicEmail-for-error')
                        .b-registration__invalid(id='publicEmail-error')
                    .b-registration__text-input-wrapper
                        label.b-registration__input-label
                            | Сайт
                        input.b-registration__input#website-input(name='website', type='text')
                    .b-registration__text-input-wrapper
                        label.b-registration__input-label
                            | Описание
                        textarea.b-registration__input.b-registration__textarea-field#text-area-field(name='textArea')
                        script.
                            CKEDITOR.replace('textArea')
                .b-registration__base-error
            fieldset
                .b-registration__field-checkboxes
                    .b-registration__field-checkbox.b-registration_checkbox-order-by-email
                        input.js-obe.b-registration__checkbox(id='orderByEmail', name='orderByEmail', type='checkbox')
                        label(for='orderByEmail') Принимаем заказы по e-mail
                    .b-registration__field-checkbox.b-registration_checkbox-issue-check
                        input.js-wtc.b-registration__checkbox(id='writesTheCheck', name='writesTheCheck', type='checkbox')
                        label(for='writesTheCheck') Выдаем чек
                    .b-registration__checkboxes-wrapper
                        label.b-registration__input-label
                            | Принимаем оплату: *
                        .b-registration__input-wrapper
                            for paymentMethod in paymentMethods
                                .b-registration__field-checkbox
                                    input.js-pm.b-registration__checkbox(id='payment#{paymentMethod.id}', name='paymentMethods', value='#{paymentMethod.id}', type='checkbox')
                                    label(for='payment'+paymentMethod.id)=paymentMethod.name
                        .b-registration__for-error(id='paymentMethods-for-error')
                        .b-registration__invalid(id='paymentMethods-error')
                    .b-registration__checkboxes-wrapper
                        label.b-registration__input-label
                            | Доставка готового заказа: *
                        .b-registration__input-wrapper
                            for deliveryMethod in deliveryMethods
                                .b-registration__field-checkbox
                                    input.js-dm.b-registration__checkbox(id='delivery#{deliveryMethod.id}', name='deliveryMethods', value='#{deliveryMethod.id}', type='checkbox')
                                    label(for='delivery'+deliveryMethod.id)=deliveryMethod.name
                        .b-registration__for-error(id='deliveryMethods-for-error')
                        .b-registration__invalid(id='deliveryMethods-error')
                    .b-registration__checkboxes-wrapper
                        label.b-registration__input-label
                            | Предоставляемые услуги: *
                        .b-registration__input-wrapper
                            for service in services
                                .b-registration__field-checkbox
                                    input.js-s.b-registration__checkbox(id='service#{service.id}', name='services', value='#{service.id}', type='checkbox')
                                    label(for='service'+service.id)=service.name
                        .b-registration__for-error(id='services-for-error')
                        .b-registration__invalid(id='services-error')
                button.submit-registration-form(type='button', id='submit-registration-form') Сохранить данные
